:root body {
    font-family: Arial, sans-serif;
    background-color: #1D242C;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input,
button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #1D242C;
    color: #06FECE;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#purchaseList {
    margin-top: 20px;
}