body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #080467;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input {
    padding: 10px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#message {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e3e3e3;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

ul li:hover {
    background-color: #d3d3d3;
}

#search {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

#cotizacion-section p {
    font-style: italic;
    color: #666;
}

.cotizaciones-container {
    margin-top: 10px;
    padding-left: 20px;
}

.cotizacion-item {
    background: #f4f4f4;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cotizacion-item button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.cotizacion-item button:hover {
    background-color: #45a049;
}

.necesidad-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.necesidad-item button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.necesidad-item button:hover {
    background-color: #45a049;
}